     body {
     background-color: rgb(169, 167, 201);
     font-family: sans-serif;

     }
     
     
     
     h1 {
        color: blue ;
        text-align: center;
     }

     h2 {
        color:yellow;

     }

     h3 {
color: green;

     }

     